<div id="footer" class="clearfix">
    <div class="wrapper bgfooter clearfix">

        <div class="footer-shop-name">
            <meta content="" name="google-site-verification" />
            <meta content="" name="google-site-verification" />
            <div style="text-align: center;">
                <div style="margin: 0px; padding: 0px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-align: center; background-color: rgb(237, 237, 237);">
                    <h2 style="font-family: Arial, Helvetica, sans-serif; text-align: center;">
                        <strong><span style="font-size: 18px;"><span style="color:green"><span style="font-size: 22px;">CÔNG TY TNHH SX TM DV XD TÍN PHONG</span></span></span></strong>
                    </h2>
                    <h2 style="font-family: Arial, Helvetica, sans-serif; text-align: center;"><span style="color: green;"><strong>Văn Phòng:&nbsp;</strong></span>315 ĐINH BỘ LĨNH, P.26, Q. BÌNH THẠNH, HCM<br /><span style="color: green;"><strong>XƯỞNG SẢN XUẤT:&nbsp;</strong></span>SỐ 08 ĐG 22, P.LINH ĐÔNG, Q. THỦ ĐỨC, HCM</h2>
                    <div style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-align: center;">-------------------------------------------------------------------------------------------</div>
                    <h4 style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-align: center;">
                        <span style="color: green;">
                            <strong style="line-height: 1.6em;">
                                <span style="font-family: Tahoma, Arial, Helvetica, sans-serif; line-height: 14px;">EMAIL BÁO GIÁ</span>
                            </strong>
                        </span>
                        <span style="color: rgb(0, 0, 0);">
                            <strong style="line-height: 1.6em;"><span style="font-family: Tahoma, Arial, Helvetica, sans-serif; line-height: 14px;">tpwindow1@gmail.com</span></strong>
                        </span><br />
                      
                        <br />

                        <span style="color: green;">
                            <strong style="line-height: 1.6em;">
                                <span style="font-family: Tahoma, Arial, Helvetica, sans-serif; line-height: 14px;">FACEBOOK</span>
                            </strong>
                        </span>
                        <span style="color: rgb(0, 0, 0);">
                            <a href="https://www.facebook.com/tpwindow.cuadep/" target="_blank"><span class="fa fa-facebook" style=" line-height: 14px;"></span></a>
                        </span>
                    </h4>
                    <div style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-align: center;">
                        <h4>
                            <strong style="color: green; line-height: 1.6em;">
                                <span style="font-family: Tahoma, Arial, Helvetica, sans-serif; line-height: 14px;">
                                    Website: &nbsp;<a href="/">https://www.tpwindow.vn</a>

                                    <span style="font-size: 14px;">
                                        <strong style="font-family: Arial, Helvetica, sans-serif; color: green;">
                                            <span style="line-height: 14px;">ĐẶT H&Agrave;NG:&nbsp;</span>
                                        </strong>
                                    </span>
                                </span>
                                <strong style="color: black; line-height: 20.8px;">&nbsp;(028)6680 2244</strong>
                                <span style="color: black;">
                                    <strong>&nbsp;- 0901 417 789</strong>
                                </span>
                            </strong>
                        </h4>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
