
@{
    ViewBag.Title = "Tin Các Dự Án Tín Phong Đang Thi Công";
  
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="fr col-190">
    <div id="rightPanel">
        <div id="es_supportOnline">
            <div class="module box-support-online clearfix">
                <div class="module-header">
                    <h3><span>Tư Vấn Khách Hàng</span></h3>
                </div>
                <div class="md">
                    <div class="mr">
                        <div class="ml">
                            <div class="so_inner">
                                <div class='so_item first clearfix'>
                                    <div class="support-type clearfix">
                                        <a></a>
                                        <span class="space"></span><a></a>
                                    </div>
                                    <label class="support-name icon-16-support">ĐẶT HÀNG 1</label>
                                    <label class="support-name icon-16-phone">(028) 6680 2244</label>
                                    <label class="support-name icon-16-email">tpwindown@gmail.com </label>
                                </div>
                                <div class='so_item clearfix'>
                                    <div class="support-type clearfix">
                                        <a></a><span class="space"></span><a></a>
                                    </div>
                                    <label class="support-name icon-16-support">ĐẶT HÀNG 2</label>
                                    <label class="support-name icon-16-phone">0901 417 789</label>
                                    <label class="support-name icon-16-email">tpwindow@tpwindow.vn</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="br"><div class="bl"><div class="bm"></div></div></div>
            </div>
        </div>

        <div class="module box-news-top clearfix">
            <div class="module-header">
                <h3><span>QUẢNG CÁO</span></h3>
            </div>
            <div class="md">
                <div class="mr">
                    <div class="ml">
                        <div class="so_inner">
                            <iframe data-aa='497197' src='//ad.a-ads.com/497197?size=160x600' scrolling='no' style='width:160px; height:600px; border:0px; padding:0;overflow:hidden' allowtransparency='true'></iframe>
                        </div>
                    </div>
                </div>
                <div class="br"><div class="bl"><div class="bm"></div></div></div>
            </div>
        </div>
    </div>
</div>
    </div>
    </div>
</div>
</div>